.gamecell a{
    color: white;
    text-decoration: none;
}

.gamecell{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3F4A63;
    padding: 1em;
    transition: 200ms;
}

/* .gamecell:hover{
    transform: scale(1.01);
} */

.gamecell__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamecell__content .left{
    display: flex;
}

.gamecell .description{
    margin-left: 0.8em;
}

.gamecell .game-title{
    font-size: 1.6em;
    font-family: "agency-fb", sans-serif;
}

.gamecell .game-title:hover{
    text-decoration: underline;
}

.gamecell .release-date{
    margin-top: 0.6em;
     font-size: 0.8em;
     font-weight: 300;
}

.gamecell__content .middle{
    display: flex;
    align-items: center;
}

.gamecell__content .middle .discount{
    margin-left: 2em;
    padding: 0.3em 0.5em;
}

.metacritic-score{
    display: none;
}

.gamecell .normal-price{
    font-size: 0.8em;
    color: darkgray;
    font-weight: 300;
    margin-bottom: 0.5em;
    text-decoration: line-through;
}

@media only screen and (max-width: 530px) {
    .store-icon{
        display: none;
    }
}

@media only screen and (max-width: 490px) {
    .discount{
        display: none;
    }
}

@media only screen and (min-width: 1020px) {
    .discount{
        position: absolute;
        right: 7em;
    }

    .gamecell .middle .metacritic-score{
        display: flex; 
        align-items: center;
    }
    
    .metacritic-score img{
        width: 100px;
    }

    .metacritic-score label{
        font-family: "agency-fb", sans-serif;
        font-size: 1.1em;
        margin-left: -1em;
        padding: 0.2em 0.4em;
        border-radius: 2px;
    }
}
